@font-face {
	font-family: Ku-Mincho;
	src: local('Ku-Mincho'), url(./assets/fonts/KuMincho-R.otf) format('otf');
}

/* Image Style */

.imageContainer {
	display: flex;
	width: 100%;
	padding: 2% 5%;
	box-sizing: border-box;
	height: auto;
	transition: 0.5s;
}

.imageBox {
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 0 2%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	line-height: 0;
}
.imageBox > span {
	font-size: 3.8vh;
	display: block;
	text-align: center;
	height: 10vh;
	line-height: 2.6;
}

.imageBox:hover {
	flex: 1 1 60%;
	height: auto;
}

.imageBox:hover .iiz div {
	width: 100%;
	height: auto;
}

.imageBox:hover .iiz div img {
	width: 100%;
	height: 100%;
}

.engFont {
	font-family: yu-mincho-pr6n, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.chtFont {
	font-family: Ku-Mincho;
	font-weight: 400;
	font-style: normal;
}
