/* Image Style */

.imageContainer {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 100vh;
}

.imageBox {
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 0 2%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	line-height: 0;
}

.imageBox > img {
	width: 200%;
	height: calc(100%);
	object-fit: cover;
	transition: 0.5s;
}

.imageBox > span {
	font-size: 0rem;
	height: 1vh;
	line-height: 2;
}

.imageBox:hover {
	flex: 1 0 50%;
}
.imageBox:hover > img {
	width: 100%;
	height: 100%;
}

.imageBox:hover > span {
	font-size: 1.5rem;
}

.imageContainerVert {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	max-height: 200%;
	max-width: 200%;
}

.imageBoxVert {
	flex: 1 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 1% 2%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	line-height: 0;
}

.imageBoxVert > img {
	width: 200%;
	height: calc(100%);
	object-fit: cover;
	transition: 0.5s;
}

.imageBoxVert > span {
	font-size: 0rem;
	height: 1vh;
	line-height: 2;
}

.imageBoxVert:hover {
	flex: 1 1 100%;
}
.imageBoxVert:hover > img {
	width: 100%;
	height: 100%;
	object-fit: fit;
}

.imageBoxVert:hover > span {
	font-size: 1.5rem;
}

/* Main Container */

.container {
	width: fit-content;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	overscroll-behavior: none;
	margin: 0;
	min-width: 100vw !important;
	overflow-x: visible;
}

.horizontal {
	width: fit-content;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	text-indent: 2rem;
	margin: 0;
	margin-left: 60vw;
	transform: translateX(-100%);
	min-width: 100vw !important;
	overflow-x: visible;
}

.panel-content {
	width: fit-content;
	line-height: 1.8;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 60vw;
	padding: 0;
	font-family: Ku-Mincho;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeSpeed;
	min-width: 100vw !important;
}

.panel-eng {
	width: 100%;
	height: max-content;
	text-indent: 2rem;
}

.content-eng {
	line-height: 1.8;
	margin-left: 5%;

	margin-right: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 0;
	font-family: yu-mincho-pr6n, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.panel-eng > button {
	display: block;
	width: 100vw;
	height: 10vh;
	border: none;
	color: black;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
	font-family: yu-mincho-pr6n, sans-serif;
	margin-bottom: 1%;
	transition: all 0.3s ease-in-out;
}

.panel-eng > button:hover {
	background-color: #000000;
	color: white;
	text-decoration: underline;
}
